.git
.gitignore
.github
README.md
Dockerfile
.dockerignore
.pytest_cache
htmlcov
coverage.xml
.coverage
__pycache__
*.pyc
*.pyo
*.pyd
.Python
.env
.venv
venv/
env/
.DS_Store
.vscode
.idea
tests/
ml/
*.ipynb
